{% extends "base.html" %}
{% block boxtitle %}
    图书详细信息
{% endblock %}
{% block currentbook %}current{% endblock %}
{% block content %}
<h1 style="position: inherit; color: #222222;margin-bottom: 20px">《{{ object.Title }}》</h1>
<p><span class="item_title">Author</span>{{ object.Author }}&nbsp;&nbsp;({{ object.Author.Age }}'s old. {{ object.Author.get_Country_display }})</p>
<p><span class="item_title">Publisher</span> {{ object.Publisher }}</p>
<p><span class="item_title">Published</span> {{ object.PublishDate|date }}</p>
<p><span class="item_title">Price</span> {{ object.Price }} ￥</p>
<p><span class="item_title">ISBN</span> {{  object.ISBN  }}</p>
    <p style="font-size: large">
<a href="../../update/{{ object.ISBN }}" class="large buttoni blue">修改信息</a>
<a href="../../delete/{{ object.ISBN }}" class="large buttoni red">删除信息</a>
</p>
    <style>
    .item_title {
           min-width: 85px;
    display: inline-table;
    text-align: right;
    padding-right: 24px;
    font-size: 16px;
    }
    </style>
{% endblock %}